@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
}

body {
    background-color: black;
    color: white;
}

.app {
    min-width: 500px;
    max-width:1000px;
    margin:auto;
}

/* header start */

.header {
    margin:20px 0
}

.main {
    font-size: 60px;
}
.sub {
    font-size:30px;
}
/* header end */

/* book entry start */

.bookEntry {
    margin:10px;
}

.bookEntry input {
    color: darkslategray;
    padding-left:10px;
    height:40px;
    min-width:200px;
    width: 85%;
    margin: 20px 0;


}
.bookEntry button {
    height: 42px;
    width: 15%;
    color:black;
    background-color: #996886;

}
/* book entry end */




 .left {
    font-size: 18px;
    text-align: left;
 }
 
 .left span,  .right span {
    font-weight:800;
    margin-right: 10px; 
 } 

 .right {
    text-align: right;
    display: flex;
    flex-direction: row;
    baseline:center;
 }

 .playButton {
    align-self: center;
    margin-left:50px;
    padding:10px 30px;
    color:white;
    background-color: #996886;
    border-radius: 10px;
 }

 